$purple: #A3A0FB;
$darkpurple: #2F3380;
$lightgray: #A4AFB7;
$placeholder: #CECFD0;
$disabled: #838296;
$divider-color: #F1F1F3;
$arrows-pagination-color: #808495;

// table
$tableheader-bg: #F5F6FA;
$tableheader-text: #A3A6B4;
$circle-border: #707070;
$sentcolor: #9FE364;
$schedulecolor: #C6C6C6;
$blue: #3B86FF;
$red: #FF6565;
$green: #39CB89;